.navbar-default{
  background-color:#FC7457;
  height:75px;
  border-radius:0px;
}

.navbar-default .navbar-nav > li > a{
  margin-top:5px;
}

.category-list{
  text-align:center;
  border:groove;
  margin-top:50px;
}

.confirm-pass-label {
	
	font-size:14.5px;
}

.billing-buttons{
	
	margin-top:10px;
}

.product-table-img{
height:70px;
width:70px;	
}

.product-list-img{
height:100px;
width:100px;	
}

.error {
background-size:cover;
background:url(grocery-cart.png);
background-repeat:no-repeat;
max-height:100%;
max-width:100%;
background-size:cover;
}

category-list-item{
  border:groove;
}



.single-product-img{
	
	width:300px;
	height:300px;
	margin:30px;
	border:double;
	box-shadow:5px 3px 30px 0px;
}
category-list-item{
  border:groove;
}

.product-card{
  box-shadow:2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  background-color:#ffffff;
  margin-top:50px;
}

.brand-img{
  max-width:100%;
  border:groove;
  margin-top:20px;
}

.login-card{
  max-width:500px;
  padding:40px 40px;
  background-color:#F7F7F7;
  margin:0 auto 25px;
  margin-top:50px;
  border-radius:2px;
  box-shadow:10px 7px 25px 0px;
}

.user-table{
  box-shadow:2px 2px 2px 2px;
  margin:30px;
  margin-top:70px;
}

.user-crud-buttons{
  padding:10px;
  margin:10px;
}

.userlist-heading{
  margin-top:50px;
}

img.admin-icons{
  margin:50px;
  max-height:100px;
  max-width:100px;
}

.crud-glyphs{
  margin:5px;
}

.add-user-glyph{
  margin-right:30px;
  width:40px;
  height:40px;
}

.insert-btn{
  margin-right:30px;
}


/*Cart css */

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}


